

.bosh {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #0a50db;
}


.card {
	width: 10rem;
	padding: 2rem;
	margin: 1rem;
	background: #fff;
	box-shadow:
  		0 12.5px 10px rgba(0, 0, 0, 0.035),
  		0 100px 80px rgba(0, 0, 0, 0.07)
	;
	border-radius: 4px;
	text-align: center;
}

.card img {
	width: 4rem;
	height: 4rem;
	border-radius: 100px;
}

.title {
	font-weight: bold;
}

.email {
	opacity: .75;
	text-overflow: ellipsis;
	overflow: hidden;
}